<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet-wrapper">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="cell cell--image">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      </div>
      <div class="sheet-header__fields">
        <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </div>
    </header>

    {{!-- Main --}}
    <section class="sheet-main">
      {{!-- Attributes --}}
      <section class="sheet-attributes sheet-attributes--npc">

        <div class="cell cell--damage">
          <label class="cell__title damage-rollable rollable" data-roll="{{data.attributes.damage.value}}" data-label="{{localize "DW.Damage"}}" data-flavor="{{data.attributes.damage.piercing}}"><i class="fas fa-dice-d20"></i> {{localize "DW.Damage"}}</label>
          <input type="text" name="data.attributes.damage.value" value="{{data.attributes.damage.value}}" placeholder="e.g. 2d12+7" data-dtype="String"/>
          <input type="text" name="data.attributes.damage.piercing" value="{{data.attributes.damage.piercing}}" placeholder="e.g. 4 piercing" data-dtype="String"/>
        </div>

        <div class="cell cell--ac">
          <label class="cell__title">{{localize "DW.Armor"}}</label>
          <input type="text" name="data.attributes.ac.value" value="{{data.attributes.ac.value}}" data-dtype="Number"/>
        </div>

        <div class="cell cell--hp">
          <label for="data.attributes.hp.value" class="cell__title">{{localize "DW.HP"}}</label>
          <div class="cell__counter">
            <input type="text" name="data.attributes.hp.value" value="{{data.attributes.hp.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.attributes.hp.max" value="{{data.attributes.hp.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="cell cell--tags">
          <label for="tag" class="control-label">{{localize "DW.Tags"}}</label>
          <div class="help-text"><p>{{localize "DW.TagsHelp" }}</p></div>
          <input class='tags-input-source' placeholder='write some tags' value='{{ data.tags }}'/>
        </div>

      </section>

      {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="description">{{localize "DW.Description"}}</a>
          <a class="item" data-tab="moves">{{localize "DW.Moves"}}</a>
        </nav>

      {{!-- Sheet Body --}}
      <section class="sheet-body">

        <div class="tab description" data-group="primary" data-tab="description">
          <section class="sheet-tab">
            <div class="cell cell--special-qualities">
              <label class="cell__title">{{localize "DW.SpecialQualities"}}</label>
              <input type="text" name="data.attributes.specialQualities.value" value="{{data.attributes.specialQualities.value}}" data-dtype="String"/>
            </div>
            <div class="cell cell--description">
              <label class="cell__title">{{localize "DW.Description"}}</label>
              {{editor content=data.details.biography target="data.details.biography" button=true owner=owner editable=editable}}
            </div>
          </section>
        </div>

        <div class="tab moves active" data-group="primary" data-tab="moves">
          <section class="sheet-tab">

            <div class="cell cell--basic-moves">
              <h2 class="cell__title">
                <label>{{localize "DW.MovesBasic"}}</label>
                <div class="item-controls">
                  <button  type="button" class="item-control item-create" title='{{localize "DW.MoveCreate"}}' data-type="npcMove" data-moveType="basic">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </h2>
              <ol class="items-list">
              {{#each basicMoves as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                  {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item rollData=../../rollData statSettings=../../data.statSettings}}
                </li>
              {{/each}}
              </ol>
            </div>

            <div class="cell cell--special-moves">
              <h2 class="cell__title">
                <label>{{localize "DW.MovesSpecial"}}</label>
                <div class="item-controls">
                  <button  type="button" class="item-control item-create" title='{{localize "DW.MoveCreate"}}' data-type="npcMove" data-moveType="special">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </h2>
              <ol class="items-list">
              {{#each specialMoves as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                  {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item rollData=../../rollData statSettings=../../data.statSettings}}
                </li>
              {{/each}}
              </ol>
            </div>
          </section>
        </div>
      </section>

    </section>

  </div>

</form>